<div class="detail" id="detail">
    <div class="space">

    </div>

    {{!-- tag data element --}}
    <input class="dataId" type="text" value="{{product._id}}" style="display: none;">
    

    <div class="container">
        <div class="route">
            <i class="fa-solid fa-house"></i>
            <span> > {{product.name}}</span>
            
        </div>
         

        <div class="product-detail">

            <div class="name-product">
                    <span>{{product.name}}</span>
                </div>

            <div class="img">
                <img src="./{{product.img}}" alt="">
            </div>

            <div class="product-dt">

                

                <div class="promotion">
                    <div class="block">
                        <span>Giảm giá : </span>
                        <i class="fa-solid fa-arrow-trend-down" style="color: red;"></i>
                        <span class="value">{{product.promo}}%</span>
                    </div>
                </div>

                <div class="price">
                    <span>{{product.price}}đ</span>

                </div>

                

                <div class="book-now-detail" >
                    <a href="/check-table-status" onclick="addProduct()">
                        Đặt chỗ ngay
                    </a>
                </div>


            </div>
        </div>

        <div class="product-info">

            {{!-- nguyên liệu nấu --}}
            <div class="ingredients">
                <div class="title">
                    <div class="icon">
                    <img src="./images/icon/icon-nguyen-lieu.png" alt="">
                    </div>
                    <div class="title-1">
                        <b>NGUYÊN LIỆU</b>
                    </div>
                </div>
                <div class="content-ingre">
                    <ul>
                        {{#each product.ingredients}}
                        <li>
                            <span>{{this}}</span>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="more-info">
                <div class="title">
                    <div class="icon">
                        <i class="fa-solid fa-circle-info" ></i>
                    </div>

                    <div class="title-1">
                        <b>THÔNG TIN THÊM</b>
                    </div>
                </div>
                <div class="content-more-info">
                    <div class="text">
                        <span>{{product.moreInfoText}}</span>
                    </div>
                    <div class="img">
                        <ul>
                            {{#each product.moreInfoImg}}
                            <li><img src="./{{this}}" alt=""></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var header = document.getElementsByTagName('header')[0];
    var search = document.getElementById("search");
    var inputSearch = search.getElementsByTagName("input")[0];

    inputSearch.style.backgroundColor = "#fff"
    header.style.backgroundImage = "url('../images/banner/Untitled-2.jpg')";
    header.style.backgroundRepeat = "no-repeat";
    header.style.backgroundSize = "100%";
    header.style.margin ="0";
</script>