
<div class="mon-an">
    <div class="space">

    </div>
    <div class="container">
        <div class="route">
            <i class="fa-solid fa-house"></i>
            <span> > Món Ăn</span>
            
        </div>

        <div class="products wow animate__animated animate__zoomInUp">
                    {{#each products}}
                    <div class="product">
                        <a href="/detail/{{this.slug}}">
                            <div class="img">
                                <img src="./{{this.img}}" alt="">
                            </div>

                            <div class="promotion">
                                <span>-{{this.promo}}%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>{{this.name}}</span>
                            </div>
                            <div class="price">
                                <span>{{this.price}}đ</span>
                            </div>
                            

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>
                    {{/each}}
                    
                </div>
    </div>
</div>



<script>
    var header = document.getElementsByTagName('header')[0];
    var search = document.getElementById("search");
    var inputSearch = search.getElementsByTagName("input")[0];

    inputSearch.style.backgroundColor = "#fff"
    header.style.backgroundImage = "url('../images/banner/Untitled-2.jpg')";
    header.style.backgroundRepeat = "no-repeat";
    header.style.backgroundSize = "100%";
    header.style.margin ="0";
</script>