{{!-- my banner --}}

<div id="my-banner">
    
</div>

<div id="home-body">
    <div class="container">
        <div class="cau-truyen-thuong-hieu">
            <div class="title">
                <div class="title-content wow animate__animated animate__zoomInDown">
                <span>CÂU CHUYỆN THƯƠNG HIỆU</span>
                </div>
                <div class="description wow animate__animated animate__zoomInDown ">
                    <span>— Tinh hoa âm thực Việt —</span>
                </div>
            </div>

            <div class="content">
                <div class=" content-body wow animate__animated animate__fadeInLeft">
                    <span>Gói trọn tinh hoa 5 vị lẩu quốc tế từ Thái – Trung – Nhật – Hàn, thực khách thỏa sức đắm chìm trong hương vị lẩu ngăn đôi đậm đà, ngất ngây cùng đồ ăn kèm đặc sắc và quầy line không giới hạn. Bạn có thể thưởng thức một bữa ăn TRỌN VẸN từ khai vị – món chính (lẩu) – món ăn kèm – món tráng miệng. Tất cả đều có tại một nhà hàng – Hotpot Story!!! <br>

                    Đặc biệt, nhà hàng luôn chú trọng nguồn nguyên liệu XANH – SẠCH, chất lượng thịt bò Mỹ hảo hạng, rau củ tươi nhập từ các trang trại Đà Lạt đảm bảo mọi bữa ăn ngon cho thực khách. Hotpot Story mong muốn mang đến trải nghiệm tuyệt vời, tạo nên cuộc vui hết ý cho nhiều thực khách.</span>
                </div>
                <div class="img wow animate__animated animate__fadeInRight">
                    <img class="" src="./images/cau-truyen-thuong-hieu.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="tinh-hoa-ngu-vi-lau">
            <div class="title wow animate__animated animate__zoomInDown">
                <div class="title-content">
                <span>TINH HOA NGŨ VỊ LẨU</span>
                </div>
                <div class="description">
                    <span>— Hương vị Lẩu chỉ có tại Thắng Nụ —</span>
                </div>
            </div>

            <div class="content">
                
                <div class="img wow animate__animated animate__fadeInLeft">
                    <img src="./images/tinh-hoa-ngu-vi-lau.jpg" alt="">
                </div>
                <div class="content-body wow animate__animated animate__fadeInRight">
                    <span>5 vị lẩu quốc tế: Suki, Tomyum – Thái Lan; Tứ Xuyên – Trung Quốc; Miso – Nhật và Bulgogi – Hàn để thực khách có được chuyến du hành vị giác qua các vùng miền khác nhau, để có những bữa ăn ngon nhất. <br>

Giữ những cót lõi của vị lẩu bản địa, các đầu bếp tại Hotpot Story đã điều chỉnh, cân bằng để mang đến những nồi lẩu ngăn đôi hợp ý với người Việt, đạt “10 điểm vẹn toàn” với các loại nhân nhúng tuyệt hảo và quầy line full ngon bất tận.</span>
                
                </div>
            </div>
        </div>

        <div class="khong-gian">
            <div class="title wow animate__animated animate__zoomInDown">
                <div class="title-content">
                <span>KHÔNG GIAN</span>
                </div>
                <div class="description">
                    <span>— Hương vị Lẩu chỉ có tại Thắng Nụ —</span>
                </div>
            </div>

            <div class="content">
                <div class="content-body wow animate__animated animate__fadeInLeft">
                    Không chỉ là một bữa ăn, Hotpot Story mang đến những khoảnh khắc vui vẻ, hạnh phúc cho mọi người. Vì thế, không gia nhà hàng hiện đại, vô cùng thoải mái cùng với sự phục vụ tận tình, Hotpot Story đã chinh phục mọi thực khách. <br>

                    Hệ thống Hotpot Story có gần 50 nhà hàng trên toàn quốc, mọi nơi đều toàn vẹn như một đã đem câu chuyện lẩu và hương vị ẩm thực Châu Á đến nhiều hơn với mọi nhà.
                </div>
                <div class="img wow animate__animated animate__fadeInRight">
                    <img src="./images/khong_gian.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="dac-sac">
            <div class="title wow animate__animated animate__zoomInDown">
                <div class="title-content ">
                <span>Món đặc sắc</span>
                </div>
                <div class="description">
                    <span>— Tinh hoa âm thực Việt —</span>
                </div>
            </div>

            <div class="content-dac-sac wow animate__animated animate__zoomInRight">
                <div class="products">
                    {{#each products}}
                    <div class="product">
                        <a href="/detail/{{this.slug}}">
                            <div class="img">
                                <img src="./{{this.img}}" alt="">
                            </div>

                            <div class="promotion">
                                <span>-{{this.promo}}%</span>
                            </div>

                           
                            <div class="name-product">
                                <span>{{this.name}}</span>
                            </div>
                            <div class="price">
                                <span>{{this.price}}đ</span>
                            </div>
                            

                        </a>
                        <div class="book-now">
                            <a href="">
                                Đặt chỗ ngay
                            </a>
                        </div>
                    </div>
                    {{/each}}

                    
                </div>

                <div class="view-more">
                    
                        <a href="/monan" class="content-view-more">
                            <span>Xem thêm</span>

                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                    
                </div>



            </div>
        </div>

        
    </div>
</div>




<script>
    var header = document.getElementsByTagName('header')[0];
    var search = document.getElementById("search");
    var inputSearch = search.getElementsByTagName("input")[0];


    
    window.onscroll = function () {
        //console.log(document.documentElement.scrollTop);
        var scrooll = document.documentElement.scrollTop;


        
        
        if (scrooll>100) {
            header.style.backgroundImage = "url('../images/banner/Untitled-2.jpg')";
            header.style.backgroundRepeat = "no-repeat";
            header.style.backgroundSize = "100%";
            header.style.transition = "0.2s";
            inputSearch.style.backgroundColor = "#fff"
            
            
            
            
        }else if(scrooll<100){
           
            
            header.style.transition = "0.2s"
            inputSearch.style.backgroundColor = "#ffa50036"
            header.style.background = "transparent"; //trông suốt
        }
    }
</script>